* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
}
div {
  color: #727272;
  text-align: center;
}
label {
  color: #ccc;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
  position: relative;
}
label::before {
  content: attr(data-item);
  transition: all 1s ease-in-out;
  color: #78b86d;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
label:hover::before {
  width: 100%;
}
footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #f1f1f1;
  color: #000000;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}
footer a:hover {
  border-bottom: 1px transparent;
}